{% extends 'layout.html' %}
{% load static %}

{% block title %}Registration{% endblock title %}

{% block content %}
    <div class="d-flex flex-column">
        <form method='POST' action='' class="d-flex flex-column" style="gap: 20px;">
            {% csrf_token %}
            <input name='username' placeholder='username'/>
            <input name='email' placeholder='email'/>
            <input name='password' type='password' placeholder='password'/>
            <button class="btn btn-primary" type='submit'>Register</button>
        </form>
    </div>
{% endblock content %}