{% extends "layout.html" %}
{% load static %}
{% block title %}{{video.name}}{% endblock title %}

{% block content %}
    <div class="d-flex flex-row" style="gap: 25px;">
        <div class="d-flex video-container">
            <iframe
            class="player-frame mt-3"
            src={{video.get_streaming_src}}
            allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
            allowfullscreen
            frameborder="0"
            ></iframe>
            <div>
                <h3 class="mt-2">{{ video.name }}</h3>
                <div class="d-flex flex-row" style="gap: 10px;">
                    {% if video.views %}
                        <h4>{{video.views}} views</h4>
                    {% endif %}
                    <button id="like-btn" class="video-like-btn" data-video-id={{video.id}}>
                        <h4 id="like-count">❤️{{video.userlikes_set.count}}</h4>
                    </button>
                </div>
                {% if not request.user.is_authenticated%}
                    <p id="message-tag" class="alert alert-warning" style="display: none;">Please login to like this video</p>
                {% endif %}
            </div>
            <span class="description-span mt-2">
                <h5 class="description-text m-2">{{ video.description }}</h5>
            </span>
        </div>
        <div class="d-flex flex-column mt-3 recommendations-container">
            <div class="row row-cols-1 g-3">
                {% for recommended_video in recommendations %}
                <div class="col">
                    <div class="card h-100 shadow-sm">
                    <a href="{{ recommended_video.get_absolute_url }}">
                        <img src="{{ recommended_video.image.url }}" class="card-img-top video-image-card" alt="{{ video.name }}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ recommended_video.name }}</h5>
                        <p class="card-text text-muted">{{ recommended_video.category }}</p>
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        const isAuthenticated = {{ request.user.is_authenticated|yesno:"true,false" }};

        document.getElementById("like-btn").addEventListener("click", function() {
            if (!isAuthenticated) {
                const message = document.getElementById("message-tag")
                message.style.display = "block";
            }

            const videoId = this.dataset.videoId;
            fetch("{% url 'videos:toggle_like' 0 %}".replace(0, videoId), {
                method: 'POST',
                headers: {
                    "X-CSRFToken": "{{csrf_token}}",
                    "content-type": "application/json"
                }
            })
            .then(res => res.json())
            .then(data => {
                document.getElementById("like-count").textContent = `❤️${data.likes}`;
            });
        });
    </script>
{% endblock content %}
