{% extends "layout.html" %}
{% load static %}
{% block title %}Details{% endblock title %}

{% block content %}
    {% comment %} <video 
        id="my-video" 
        class="video-js" 
        controls 
        preload="auto" 
        width="640" 
        height="360"
        data-setup="{}">
        <source src="{% url 'videos:stream_video' video.id %}" type="video/mp4"/>
    </video> {% endcomment %}
    <iframe
    class="player-frame mt-3"
    src={{video.get_streaming_src}}
    allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
    allowfullscreen
    frameborder="0"
    ></iframe>
    <h3 class="mt-2">{{ video.name }}</h3>
    <h5 class="description-text mt-2">{{ video.description }}</h5>
{% endblock content %}