{% extends "layout.html" %}
{% load static %}
{% block title %}For creators{% endblock title %}

{% block content %}
    {% comment %} <h1>For creators</h1> {% endcomment %}
    <div class="mt-2">
        <h1>Upload video</h1>
        <div class="mt-3">
            <form method="post" action='' enctype="multipart/form-data" class="d-flex flex-column">
                {% csrf_token %}
                {% if form.name.errors %}
                    <div class="alert alert-danger">
                        {{ form.name.errors.0 }}
                    </div>
                {% endif %}
                <div class="mb-2 d-flex flex-row align-items-center" style="gap: 10px;">
                    <h5 class="upload-video-label">Video name: <h5>
                    <input class="form-control upload-video-input" name="name" placeholder="Video name"/>
                </div>
                <div class="mb-2 d-flex flex-row align-items-center" style="gap: 10px;">
                    <h5 class="upload-video-label">Select category</h5>
                    <select name="category" placeholder="Category" class="upload-video-select">
                        {% for category in categories %}
                            <option value="{{category.id}}">{{category.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% if form.description.errors %}
                    <div class="alert alert-danger">
                        {{ form.description.errors.0 }}
                    </div>
                {% endif %}
                <div class="mb-2 d-flex flex-row align-items-center" style="gap: 10px;">
                    <h5 class="upload-video-label">Description</h5>
                    <textarea class="upload-video-textarea" name="description" placeholder="Description" value=" "></textarea>
                </div>
                {% if form.image.errors %}
                    <div class="alert alert-danger">
                        {{ form.image.errors.0 }}
                    </div>
                {% endif %}
                <div class="mb-2 d-flex flex-row align-items-center" style="gap: 10px;">
                    <h5 class="upload-video-label">Image</h5>
                    <input type="file" name="image" accept=".jpg,.png"/>
                </div>
                {% if form.video.errors %}
                    <div class="alert alert-danger">
                        {{ form.video.errors.0 }}
                    </div>
                {% endif %}
                <div class="mb-2 d-flex flex-row align-items-center" style="gap: 10px;">
                    <h5 class="upload-video-label">Video</h5>
                    <input type="file" name="video" accept=".mp4"/>
                </div>
                <button type="submit" class="btn btn-primary upload-video-btn mt-3">Upload</button>
            </form>
        </div>
    </div>

{% endblock content%}
