{% extends "layout.html" %}
{% load static %}
{% block title %}Video Player Site{% endblock title %}

{% block content %}
<div class="container mt-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        {% for video in videos %}
        <div class="col">
            <div class="card h-100 shadow-sm">
            <a href="{{ video.get_absolute_url }}">
                <img src="{{ video.image.url }}" class="card-img-top video-image-card" alt="{{ video.name }}">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ video.name }}</h5>
                <p class="card-text text-muted">{{ video.category }}</p>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="chart-paginator">
        <li class="{% if not videos.has_previous %}disabled{%else%}paginator-li{%endif%}">
            <a href="{% if videos.has_previous %}?page={{videos.previous_page_number}}{%endif%}" class="{% if not videos.has_previous %}disabled{%endif%}">Previous</a>
        </li>
        {% for page in videos.paginator.page_range %}
            {% if page >= videos.number|add:-2 and page <= videos.number|add:2 %}
                <li>
                    <a href="?page={{page}}" class="{% if videos.number == page %}disabled{%else%}paginator-li{%endif%}">{{page}}</a>
                </li>
            {% endif %}
        {% endfor %}
        <li class="{% if not videos.has_next %}disabled{%else%}paginator-li{%endif%}">
            <a href="{% if videos.has_next %}?page={{videos.next_page_number}}{%endif%}" class="{% if not videos.has_next %}disabled{%endif%}">Next</a>
        </li>
    </div>
</div>
{% endblock content %}